Repository playerony/fabric-efa: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, prettier-package-json --write

.lintstagedrc:

{
  "*.src/**/*": "prettier --write",
  "*.{js,css,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --cache --fix",
  "package.json": "prettier-package-json --write"
}

🔧 Configure lint-staged (#17)
  .eslintrc
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  src/application/context/theme-provider/theme-provider.component.tsx
  src/domain/dashboard/dashboard.component.tsx
  src/domain/dashboard/molecules/toolbox/toolbox.component.tsx
  src/domain/dashboard/utils/functions/create-button/create-button.spec.ts
  src/domain/dashboard/utils/functions/set-button-position/set-button-position.function.ts
  src/domain/dashboard/utils/hooks/use-fabricjs-editor/utils/build-editor/build-editor.function.ts
  src/infrastructure/fabricjs/controls/utils/get-scale-control/get-scale-control.function.ts
  src/infrastructure/styles/mixins/respond-to/respond-to.spec.ts
  src/utils/functions/is-number/is-number.function.ts
  tsconfig.base.json
  tsconfig.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

Reorganize folder sturcture
  package-lock.json
  package.json
  src/domain/templates/dashboard/atoms/canvas/canvas.component.tsx
  src/domain/templates/dashboard/atoms/canvas/utils/index.ts
  src/domain/templates/dashboard/dashboard.component.tsx
  src/domain/templates/dashboard/molecules/loading-page/loading-page.stories.mdx
  src/domain/templates/dashboard/molecules/toolbox/toolbox.stories.mdx
  src/domain/templates/dashboard/molecules/toolbox/toolbox.styles.ts
  src/domain/templates/dashboard/utils/functions/create-button/create-button.function.ts
  src/domain/templates/dashboard/utils/functions/create-canvas/create-canvas.function.ts
  src/domain/templates/dashboard/utils/functions/create-canvas/create-canvas.spec.ts
  src/domain/templates/dashboard/utils/functions/index.ts
  src/domain/templates/dashboard/utils/functions/set-button-position/set-button-position.function.ts
  src/infrastructure/constants.ts
  src/infrastructure/fabricjs/controls/utils/get-scale-control/get-scale-control.function.ts
  src/utils/functions/degrees-to-radians/degrees-to-radians.function.ts
  src/utils/functions/degrees-to-radians/degrees-to-radians.spec.ts
  src/utils/functions/is-array/is-array.function.ts
  src/utils/hooks/use-debounce/use-debounce.spec.ts
Due: eslint --cache --fix, prettier-package-json --write

update snapshot
  src/domain/templates/dashboard/utils/functions/create-button/__snapshots__/create-button.spec.ts.snap
Due: none

🚚 Reorganize folder structure (#19)
  package-lock.json
  package.json
  src/domain/templates/dashboard/atoms/canvas/canvas.component.tsx
  src/domain/templates/dashboard/atoms/canvas/utils/index.ts
  src/domain/templates/dashboard/dashboard.component.tsx
  src/domain/templates/dashboard/molecules/loading-page/loading-page.stories.mdx
  src/domain/templates/dashboard/molecules/toolbox/toolbox.stories.mdx
  src/domain/templates/dashboard/molecules/toolbox/toolbox.styles.ts
  src/domain/templates/dashboard/utils/functions/create-button/__snapshots__/create-button.spec.ts.snap
  src/domain/templates/dashboard/utils/functions/create-button/create-button.function.ts
  src/domain/templates/dashboard/utils/functions/create-canvas/create-canvas.function.ts
  src/domain/templates/dashboard/utils/functions/create-canvas/create-canvas.spec.ts
  src/domain/templates/dashboard/utils/functions/index.ts
  src/domain/templates/dashboard/utils/functions/set-button-position/set-button-position.function.ts
  src/infrastructure/constants.ts
  src/infrastructure/fabricjs/controls/utils/get-scale-control/get-scale-control.function.ts
  src/utils/functions/degrees-to-radians/degrees-to-radians.function.ts
  src/utils/functions/degrees-to-radians/degrees-to-radians.spec.ts
  src/utils/functions/is-array/is-array.function.ts
  src/utils/hooks/use-debounce/use-debounce.spec.ts
Due: eslint --cache --fix, prettier-package-json --write

Add support for mobile devices
  .eslintrc
  src/domain/templates/dashboard/molecules/toolbox/toolbox.component.tsx
  src/domain/templates/dashboard/molecules/toolbox/toolbox.styles.ts
  src/domain/templates/dashboard/molecules/toolbox/toolbox.types.ts
  src/domain/templates/dashboard/utils/hooks/use-fabricjs-editor/utils/build-editor/build-editor.defaults.ts
  src/ui/atoms/index.ts
  src/ui/atoms/menu-toggle-button/menu-toggle-button.component.tsx
  src/ui/atoms/menu-toggle-button/menu-toggle-button.stories.mdx
  src/ui/atoms/menu-toggle-button/menu-toggle-button.styles.ts
  src/ui/atoms/menu-toggle-button/menu-toggle-button.types.ts
Due: eslint --cache --fix

button
  src/ui/atoms/button/button.styles.ts
  src/ui/atoms/menu-toggle-button/menu-toggle-button.styles.ts
Due: eslint --cache --fix

update
  src/application/context/app-provider/app-provider.component.tsx
  src/application/context/theme-provider/theme-provider.component.tsx
  src/domain/templates/dashboard/molecules/toolbox/toolbox.component.tsx
  src/utils/hooks/use-debounce/use-debounce.spec.ts
Due: eslint --cache --fix

📱 Add support for mobile devices (#20)
  .eslintrc
  src/application/context/app-provider/app-provider.component.tsx
  src/application/context/theme-provider/theme-provider.component.tsx
  src/domain/templates/dashboard/molecules/toolbox/toolbox.component.tsx
  src/domain/templates/dashboard/molecules/toolbox/toolbox.styles.ts
  src/domain/templates/dashboard/molecules/toolbox/toolbox.types.ts
  src/domain/templates/dashboard/utils/hooks/use-fabricjs-editor/utils/build-editor/build-editor.defaults.ts
  src/ui/atoms/button/button.styles.ts
  src/ui/atoms/index.ts
  src/ui/atoms/menu-toggle-button/menu-toggle-button.component.tsx
  src/ui/atoms/menu-toggle-button/menu-toggle-button.stories.mdx
  src/ui/atoms/menu-toggle-button/menu-toggle-button.styles.ts
  src/ui/atoms/menu-toggle-button/menu-toggle-button.types.ts
  src/utils/hooks/use-debounce/use-debounce.spec.ts
Due: eslint --cache --fix
